* {
    box-sizing: border-box;
}

body {
    color: #777777;
    background-color: #4aaaa5;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/pink%20dust.png");
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    border: solid #cccccc;
    border-width: 0px 0px 5px 0px;
    top: 0;
    left: 0;
    position: fixed;
    height: 96px;
    background-color: #ffffff;
    z-index: 5;
}

.navbar {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 32px;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    padding: 25px 35px 30px 35px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
}

.buttons {
    width: 275px;
    font-size: 14px;
    padding: 38px 0px 35px 0px;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
    float: right;
}

#about {
    float: left;
    width: 33.3%;
}

#portfolio {
    margin-left: -4px;
    float: left;
    width: 33.3%;
}

#contact {
    margin-left: 4px;
    float: left;
    width: 33.3%;
}

.section2 {
    box-sizing: border-box;
    border: 2px solid #dddddd;
    width: 960px;
    background-color: #ffffff;
    z-index: 1;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    word-wrap: break-word;
}

.text {
    padding: 0px 20px 20px 20px;
    margin-top: 0;
    font-size: 15px;
    line-height: 23px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 27px;
    background-color: #ffffff;
    border: solid #dddddd;
    border-width: 0px 0px 3px 0px;
    height: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.pro-pic {
    float: left;
    width: 180px;
    height: 180px;
    margin: 0 20px 15px 0;
    border: 3px solid #ffffff;
    box-shadow: 7px 7px 5px #777777;
}

footer {
    color: #cccccc;
    font-size: 12px;
    width: 100%;
    position: fixed;
    left: 0;
    text-align: center;
    bottom: 0px;
    margin-top: 20px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    z-index: 4;
}

input, textarea, select {
    width: 100%;
}

textarea {
    height: 80px;
}

#submit {
    width: 150px;
    height: 30px;
    margin-top: 15px;
    left: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    width: 90%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 60px;
    top: 55%;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    padding-top: 18px;
    position: absolute;
    z-index: 3;
}

.portfolio {
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    margin: 0 40px 15px 0;
    border: 3px solid #ffffff;
    box-shadow: 7px 7px 5px #777777;
    z-index: 2;
    
}

.port-height {
    box-sizing: border-box;
    border: 2px solid #dddddd;
    width: 960px;
    height: 1600px;
    background-color: #ffffff;
    z-index: 1;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
}

.wrapper {
    background-color: #ffffff;
    width: 100%;
    z-index: 2;
}

#contain {
    height: 100%;
}

.portfolio, .subwrap {
    float: left;
}

.wrap {
    width: 100%;
}

.subwrap {
    position: relative;
}

.box:link, .box:visited {
    color: #777777;
    text-decoration: none;
}

.box:hover {
    font-weight: bolder;
    font-size: 15px;
    line-height: 16.6px;
    color: #4aaaa5;
    text-decoration: none;
    -webkit-transition: font-size color;
    -moz-transition: font-size color;
    -o-transition: font-size color;
    transition: all 0.1s ease-in;
}

.box:active {
    font-size: 14px;
    color: #dddddd;
    text-decoration: none;
}

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

@media screen and (max-width: 980px) {

    .section2 {
        width: 100%;
    }

    .port-height {
        width: 100%;
        height: 3100px;
    }

}

@media screen and (max-width: 768px) {

    /* .port-height {
        height: 900px;
    } */

}

@media screen and (max-width: 640px) {

    header {
        position: static;
        width: 100%;
        margin: 0 auto auto 0;
    }

    h1 {
        width: 100%;
    }

    .buttons {
        margin-top: 4px;
        float: left;
        width: 100%;
    }

    .pro-pic {
        height: 100%;
        width: 100%;
        max-height: 250px;
        max-width: 250px;
        margin-left: 10px;
        margin-bottom: 30px;
        float: right;
    }

    .paragraph {
        clear: both;
    }

}
